.content {
  width: 95%;
  max-width: 60rem;
  margin: var(--size-8) auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  background-color: var(--color-grey-100);
  border-radius: 6px;
  padding: var(--size-4);
}

.content p {
  color: var(--color-grey-800);
}

.content .image {
  margin: var(--size-4) auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  position: relative;
  width: 100%;
  height: 28vh;
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }

  .content .image {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-auto-rows: 22rem;
    position: relative;
    width: 100%;
    height: 20rem;
  }
}
